php_value session.name "MINVENPROSESSID"
php_value session.cookie_path "/minven_pro"
php_value session.use_only_cookies "1"
php_value session.use_strict_mode "1"
php_value session.cookie_httponly "1"
php_value session.cookie_samesite "Lax"
